body{
    color: red;
    background-color: aqua;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, serif;
    font-size: 20px;
    font-weight: normal;
    margin: 20px;
    line-height: 1.6;

};

#section1{
    color: blue;
}
h1{
    color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.container{
    background-color: yellow;
    padding: 20px;
   

}
.bgs{
    background-color: red;
    color: white;
    size: 10%;
    padding: 5px;
}
#box{
    height: inherit;
    display: flex;
    flex-direction: row;
    gap:20px

}
#box1{
    width: 40%;
    background-color: red;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 10px;
    border:solid;
}
#box2{
    width: 60%;
    background-color: blue;
    color: white;
    text-align: center;
    align-items: center;
    border: 4px dashed;
}
#cenBox{
    background-color: white;
    border: 10px ridge;

    padding: 10px;
    border-radius: 10px;
    border-color: black;
    gap: 50px;
    border-bottom: 6px inset green;
    border-top: 5px outset palegoldenrod;
    border-left: 2px dotted;
}

/* text properties */
#box1 h2{
    color: black;
    font-size: 1em;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px white;
    text-indent: 10px solid;
    text-align: left;
    font-weight: bold;
    letter-spacing: 5px;
    word-spacing: 10px;
    line-height: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}